<h1>商品一覧</h1>

<div class="container mt-4">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="card mb-4">
          <%= display_square_image(product.image) %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>

            <p class="card-text"><%= product.description.truncate(100) %></p>

            <p class="card-text"><strong>価格: </strong><%= number_to_currency(product.price, unit: "¥") %></p>

            <%= link_to "カートに入れる",
                        cart_items_path(product_id: product.id),
                        data: { turbo_method: :post },
                        class: "btn btn-primary" %>
            <%= link_to "詳細を見る", product_path(product.id), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
