<table class="table">
  <thead>
    <tr>
      <th>購入日</th>
      <th>支払い総額</th>
      <th>購入品</th>
      <th>状態</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= number_to_currency(order.total_charge, unit: "¥") %></td>
        <td>
          <ul class="list-unstyled">
            <% order.order_items.each do |order_item| %>
              <li><%= order_item.product.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= order.status_name %></td>
        <td><%= link_to "詳細を見る", order_path(order.id), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
