<div class="d-flex align-items-center mb-3">
  <h1 class="me-3">商品一覧</h1>
  <%= link_to "新しい商品を追加", new_admins_product_path, class: "btn btn-primary" %>
</div>
<div class="container mt-4">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <!-- 画像のプレースホルダー -->
          <% if product.image.attached? %>
            <%= image_tag product.image %>
          <% else %>
            <%= image_tag "placeholder.png" %>
          <% end %>

          <div class="card-body">
            <!-- 商品名 -->
            <h5 class="card-title"><%= product.name %></h5>

            <!-- 商品説明 -->
            <p class="card-text"><%= product.description.truncate(100) %></p>

            <!-- 価格 -->
            <p class="card-text"><strong>価格: </strong><%= number_to_currency(product.price, unit: "¥") %></p>

            <%= link_to "詳細を見る", admins_product_path(product.id), class: "btn btn-primary" %>
            <%# 削除ボタン %>
            <%= button_to "削除", admins_product_path(product.id), method: :delete, data: { turbo: false }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
