<div class="d-flex align-items-center mb-3">
  <h1 class="me-3">商品一覧</h1>
  <%= link_to "新しい商品を追加", new_admins_product_path, class: "btn btn-primary" %>
</div>
<div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">商品名</th>
          <th scope="col">価格</th>
          <th scope="col">説明</th>
          <th scope="col">詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <th scope="row"><%= product.id %></th>
            <td><%= product.name %></td>
            <td><%= number_to_currency(product.price, unit: "¥") %></td>
            <td><%= product.description.truncate(10) %></td>
            <td><%= link_to "詳細", admins_product_path(product.id), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
